<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proyectofinal">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoFinal">
        <activity android:name=".grabarVideoconferencias"></activity>
        <activity
            android:name=".MenuPrincipal_1"
            android:label="@string/title_activity_menu_principal_1" />
        <activity android:name=".MenuPrincipalMeet" />
        <activity android:name=".registrarse" />
        <activity android:name=".iniciarSesion2" />
        <activity android:name=".inicioSesion" />
        <activity android:name=".pantalladecarga" />
        <activity android:name=".PantalladeCarga" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>